*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    min-height: 5rem;
    background-color: #519872;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5rem;
}

.nav {
    display: flex;
    gap: 3rem;
}